<p>
    Porsche Digital Lab TrendRadar - Preparing for the future
    There is one constant in future: change.
    
    Q: How fast will this change take place?
    
    A: Given that we are dealing with technologies developing exponentially, the rate of change will never ever again be as slow as it is today. The future will change much faster than it has changed so far, and change will be more dramatic. We are actually living in mellow times compared to tomorrow.
    
    
    
    So no matter how big you are thinking - think bigger! 
    
    
    
    What do you mean by exponential technologies?
    For a technology to be "exponential", its power or its speed doubles every year, and its price drops by half. Examples of exponential technologies include semi conductors (Moore's Law), artificial intelligence (AI), virtual reality (VR), blockchain technology, cloud technology, and the Internet of things just to name a few. The name "exponential technology" is derived from the natural exponential function y = ex. This function develops rather slowly until it reaches a tipping point at (0,1) from where it just goes ballistic. 
    
    
    
    
    
    The tricky part about exponential development is the inability of the human brain to grasp it. Humans tend to overestimate what can be achieved in the short term, but vastly underestimate what can be achieved in the long term. Human intuition assesses the rate of change we have seen in the past, and predicts how much change is ahead of us based on this assessment. In our projection we assume a constant rate of change (linear thinking).
    
    

</p>